.feedWrapper {
  flex: 0.5;
  padding: 1em;
}

.feedContainer {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  width: 900px;
  margin-bottom: 20px;
}

.myReel {
  position: relative;
  text-align: center;
  color: white;
  display: flex;
}

.myReel img {
  width: 250px !important;
  min-width: 50px !important;
  height: 350px;
  border-radius: 15px;
  object-fit: cover;
}

.bottomLeft {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.bottomLeft span {
  background-color: purple;
  color: white;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 50%;
}

.createReelFormWrapper {
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.createReelFormWrapper form {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 2em;
}

.createReelFormWrapper form input {
  width: 90%;
  padding: 10px;
  outline: none;
  border-radius: 7px;
}

.createReelFormWrapper form .reelSpanBtn {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.createReelFormWrapper form .reelSpanBtn p {
  background-color: teal;
  color: white;
  padding: 10px;
  border-radius: 7px;
  text-align: center;
}

@media (max-width: 1290px) {
  .feedContainer {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    width: 900px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1125px) {
  .feedContainer {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    width: 870px;
    margin-bottom: 20px;
  }
}

@media (max-width: 1084px) {
  .feedContainer {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    width: 850px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1075px) {
  .feedContainer {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    width: 800px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1060px) {
  .feedContainer {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    width: 750px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1000px) {
  .feedContainer {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    width: 700px;
    margin-bottom: 20px;
  }
}
@media (max-width: 970px) {
  .feedContainer {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    width: 650px;
    margin-bottom: 20px;
  }
}
@media (max-width: 940px) {
  .feedContainer {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    width: 550px;
    margin-bottom: 20px;
  }
}

@media (max-width: 915px) {
  .feedContainer {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    width: 690px;
    margin-bottom: 20px;
  }
}

@media (max-width: 900px) {
  .feedContainer {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    width: 600px;
    margin-bottom: 20px;
  }
}

@media (max-width: 850px) {
  .feedContainer {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    width: 770px;
    margin-bottom: 20px;
  }
}

@media (max-width: 800px) {
  .feedContainer {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    width: 500px;
    margin-bottom: 20px;
  }
}

@media (max-width: 780px) {
  .feedContainer {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    width: 720px;
    margin-bottom: 20px;
  }
}

@media (max-width: 700px) {
  .feedContainer {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    width: 480px;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .feedContainer {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    width: 450px;
    margin-bottom: 20px;
  }
}
@media (max-width: 560px) {
  .feedContainer {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    width: 500px;
    margin-bottom: 20px;
  }
  .myReel img {
    width: 250px !important;
    min-width: 50px !important;
    height: 350px;
    border-radius: 15px;
    object-fit: cover;
  }
}

@media (max-width: 420px) {
  .feedContainer {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    width: 381px;
    margin-bottom: 20px;
  }
}

@media (max-width: 400px) {
  .feedContainer {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    width: 360px;
    margin-bottom: 20px;
  }
}

@media (max-width: 370px) {
  .feedContainer {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    width: 360px;
    margin-bottom: 20px;
  }
}

@media (max-width: 360px) {
  .feedContainer {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    width: 340px;
    margin-bottom: 20px;
  }
}
