.widgetWrapper {
  flex: 0.3;
  padding: 1px;
}

.widgetTopSuggestion {
  background-color: white;
  padding: 10px;
  margin-bottom: 1em;

  top: 5.3em;
  position: sticky;
  z-index: 1;
}

.widgetTopSuggestion h2 {
  color: gray;
  font-size: 22px;
}

.widgetTopFriends {
  display: flex;
  justify-content: space-between;
  margin-top: 1.3em;
}

.topFriendDet {
  flex: 0.6;
  display: flex;
  align-items: center;
  gap: 15px;
}

.topFriendDet img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 50%;
}

.topFriendOption {
  flex: 0.4;
  text-align: end;
}

.topFriendOption span {
  padding: 7px 10px;
  background-color: #4267b2;
  color: #fff;
  border-radius: 5px;
  margin-right: 5px;
}

.topFriendOption button {
  background-color: #f5424e;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

/*  */

.widgetMiddleActivities {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.widgetUserDet {
  display: flex;
  align-items: center;
  gap: 5px;
}

.widgetUserDet p {
  color: gray;
}

.widgetUserDet span {
  color: black;
  font-weight: 600;
  cursor: pointer;
}

.widgetUserDet img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 50%;
}

/*  */
.widgetBottomSuggestion {
  background-color: white;
  padding: 10px;
  margin-top: 1em;
}

.widgetBottomSuggestion h2 {
  color: gray;
  font-size: 22px;
  margin-bottom: 20px;
}

.bottomFriendDet img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.bottomFriendDet {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.bottomFriendDet .highFriend {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgb(16, 235, 16);
  position: absolute;
  margin-left: 37px;
}

.bottomFriendDet p {
  margin-left: 20px;
}

@media (max-width: 1700px) {
  .widgetWrapper {
    flex: 0.6;
  }

  .widgetTopSuggestion {
    display: none;
  }
}

@media (max-width: 1500px) {
  .widgetMiddleActivities {
    display: none;
  }
}

@media (max-width: 1400px) {
  .widgetWrapper {
    display: none;
  }
}
