.headerWrapper {
  background-color: #fff;
  top: 0;
  position: sticky;
  z-index: 1;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  gap: 1em;
}

.headerFirst {
  flex: 0.6;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.headerFirst .headerLogo {
  flex: 0.2;
}
.headerFirst .headerLogo h1 {
  color: black;
}

.headerFirst .valerianIcons {
  flex: 0.2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.headerFirst .headerInput {
  flex: 0.6;
  width: 100%;
}

.headerFirst .headerInput input {
  width: 98%;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
}

.headerInput button {
  display: none;
}

.headerLast {
  flex: 0.4;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
}

.headerIcons {
  display: flex;
  align-items: center;
  gap: 18px;
}

.headerAvatar {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.headerLast .headerAvatar img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 1000px) {
  .headerFirst {
    flex: 0.5;
  }
  .headerLast {
    flex: 0.5;
  }
}
@media (max-width: 900px) {
  .headerFirst {
    flex: 1;
  }
  .headerLast {
    display: none;
  }
  .headerFirst .headerInput input {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .headerFirst .headerInput input {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .headerFirst {
    flex: 1;
  }
  .headerLast {
    display: none;
  }
  .headerFirst .headerInput {
    display: none;
  }
  .headerFirst .headerLogo {
    flex: 0.5;
  }

  .headerFirst .valerianIcons {
    flex: 0.5;
  }
}

@media (max-width: 360px) {
  .headerFirst {
    flex: 1;
    width: 360px !important;
  }

  .headerFirst .headerLogo {
    flex: 0.4;
  }

  .headerFirst .valerianIcons {
    flex: 0.5;
  }
}
