.sidebarWrapper {
  flex: 0.2;
  padding: 1em;
  background-color: #fff;
  margin-top: 1em;
}

.feedWrapper {
  flex: 0.5;
  padding: 1em;
}

.sidebarContainer {
  top: 5.3em;
  position: sticky;
  z-index: 1;
}

.sideTop ul {
  list-style: none;
}

.sideTop ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  font-size: 17px;
  cursor: pointer;
  color: gray;
  transition: all 0.4s ease;
}
.sideTop ul li:hover {
  color: black;
}

.sideTop ul li img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

/*  */

.sideCenter {
  margin-top: 20px;
}

.sideCenter h1 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 700;
}
.sideCenter ul {
  list-style: none;
}
.sideCenter ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  font-size: 17px;
  cursor: pointer;
  color: gray;
  transition: all 0.4s ease;
}
.sideCenter ul li:hover {
  color: black;
}

/*  */
.sideBottom {
  margin-top: 20px;
}

.sideBottom h1 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 700;
}
.sideBottom ul {
  list-style: none;
}
.sideBottom ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  font-size: 17px;
  cursor: pointer;
  color: gray;
  transition: all 0.4s ease;
}
.sideBottom ul li:hover {
  color: black;
}

@media (max-width: 900px) {
  .sidebarWrapper {
    display: none;
  }
}
