.createWrapper {
  background-color: #fff;
  padding: 1em;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 97%;
}

.createText {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1px;
  margin-bottom: 20px;
}

.createImg img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.createImg {
  flex: 0.1;
}

.createTxt {
  flex: 0.9;
}

.createTxt input {
  padding: 10px;
  width: 90%;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
}

.createImage {
  display: flex;
  flex-wrap: wrap;
}

.createImageFirst {
  display: flex;
  flex-wrap: wrap;
  flex: 0.7;
  gap: 19px;
  align-items: center;
}

.createImageLast {
  flex: 0.3;
  text-align: end;
}

.createImageFirst .imgAdd {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  color: gray;
  transition: all 0.4s ease;
}

.createImageFirst .locale input {
  padding: 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
}

@media (max-width: 900px) {
  .imgAdd .imgAddIco {
    font-size: 40px;
  }
  .imgAdd p {
    display: none;
  }
}

@media (max-width: 767px) {
  .createImageFirst {
    display: flex;
    flex: 0.6;
    gap: 19px;
    align-items: center;
  }

  .createImageLast {
    flex: 0.4;
    text-align: end;
  }
}

@media (max-width: 550px) {
  .createWrapper {
    background-color: #fff;
    padding: 1em;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 90%;
  }
}

.createImageFirst .imgAdd:hover {
  color: black;
}

.createImageLast button {
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #4267b2;
  color: white;
  cursor: pointer;
}
